.banner-part{
    background-color:#212529;
    padding: 25px;
}

.product{
    padding: 25px;
    background-color:#212529;
}


.best-product{
    padding: 25px;
    background-color:#212529;
}


.drop-list{
    padding: 25px;
    background-color:#212529;
}


.best-salling{
    padding: 50px;
}


.best-salling .progress{
    margin-bottom: 20px;
}


.best-salling .bordarnone{
    margin-bottom: 0px;
}






